@function jeet-get-span($ratio: 1) {
  @return $ratio * 100;
}

@function jeet-get-column($ratios: 1, $gutter: $jeet-gutter) {
  $ratios: if(not $jeet-parent-first, jeet-reverse($ratios), $ratios);
  $width: 100;

  @each $ratio in $ratios {
    $gutter: $gutter / $width * 100;
    $width: 100 * $ratio - $gutter + $ratio * $gutter;
  }

  @return $width $gutter;
}

@function jeet-get-layout-direction() {
  $direction: if($jeet-layout-direction == "RTL", right, left);

  @return $direction;
}

@function jeet-replace-nth($list, $index, $value) {
  @if function-exists("set-nth") != true {
    $result: ();
    $index: if($index < 0, length($list) + $index + 1, $index);

    @for $i from 1 through length($list) {
      $result: append($result, if($i == $index, $value, nth($list, $i)));
    }

    @return $result;
  }

  $result: set-nth($list, $index, $value);

  @return $result;
}

@function jeet-reverse($list) {
  @if function-exists("set-nth") != true {
    $result: ();

    @for $i from length($list) * -1 through -1 {
      $item: nth($list, abs($i));

      @if length($item) > 1 and $recursive {
        $result: append($result, jeet-reverse($item, $recursive));
      }
      @else {
        $result: append($result, $item);
      }
    }

    @return $result;
  }

  @for $i from 1 through ceil(length($list)/2) {
    $tmp: nth($list, $i);
    $tmp: if(length($tmp) > 1 and $recursive, reverse($tmp, $recursive), $tmp);

    $list: set-nth($list, $i, nth($list, -$i));
    $list: set-nth($list, -$i, $tmp);
  }

  @return $list;
}

@function jeet-opposite-direction($direction) {
  @if $direction == "left" {
    @return right;
  } @else if $direction == "right" {
    @return left;
  } @else if $direction == "top" {
    @return bottom;
  } @else if $direction == "bottom" {
    @return top;
  } @else if index("ltr" "LTR", $direction) {
    @return rtl;
  } @else if index("rtl" "RTL", $direction) {
    @return ltr;
  } @else {
    @warn "`#{$direction}` is not a direction; please make sure your direction is all lowercase.";
    @return false;
  }
}

@function jeet-get-percentage($value) {
  @if $value == 0 {
    @return 0;
  } @else {
    @return $value * 1%;
  }
}
